<launch>
  <arg name="use_gui" default="false"/>

  <include file="$(find me6_moveit)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>

  <node if="$(arg use_gui)" name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui">
    <remap from="/joint_states" to="/me6_robot/joint_states"/>
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
    <remap from="/joint_states" to="/me6_robot/joint_states"/>
  </node>

  <arg name="rvizconfig" default="$(find me6_moveit)/launch/visualize.rviz"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />
</launch>
