<?xml version="1.0"?>
<launch>
  <arg name="mocap_debug_mode" default="false" />
  <arg name="force_sensor" default="true" />
  <arg name="real_machine" default="true" />

  <include file="$(find twin_hammer)/launch/include/mocap.launch" if="$(arg mocap_debug_mode)" /> 

  <node name="me6_init" pkg="twin_hammer" type="me6_init.py" output="screen" if="$(arg real_machine)" />

  <group if="$(arg force_sensor)">
    <include file="$(find cfs_sensor)/launch/cfs_sensor.launch">
      <arg name="type" value="PFS055YA501U6"/>
    </include>
    <node name="force_feedback_from_robot" pkg="twin_hammer" type="force_feedback_from_robot.py" output="screen" />
  </group>

  <node name="me6_teleop" pkg="twin_hammer" type="me6_teleop.py" output="screen" />

</launch>