<?xml version="1.0"?>
<launch>
  <arg name="real_machine" default="true" />
  <arg name="simulation" default="false" />
  <arg name="moveit" default="false" />

  <group if="$(eval not arg('simulation') and arg('real_machine'))" >
    <include file="$(find dobot_v4_bringup)/launch/bringup_v4.launch" />
    <node name="me6_init" pkg="twin_hammer" type="me6_init.py" output="screen" />
  </group>

  <include file="$(find dobot_gazebo)/launch/gazebo.launch" if="$(eval arg('simulation') and not arg('real_machine'))" />

  <include file="$(find dobot_moveit)/launch/demo.launch" if="$(arg moveit)" />

</launch>