<?xml version="1.0"?>
<launch>
  <arg name="robot_name" default="gimbalrotor" />
  <arg name="control_mode" default="pos" />
  <arg name="mocap_debug_mode" default="false" />
  <arg name="force_feedback" default="true" />
  <arg name="energy_tank" default="false" />

  <node name="teleop_from_mocap" pkg="twin_hammer" type="teleop_from_mocap.py" output="screen" >
    <param name="robot_name" value="$(arg robot_name)" />
    <param name="control_mode" value="$(arg control_mode)" />
  </node>

  <group if="$(arg force_feedback)">
    <node name="force_feedback_from_robot" pkg="twin_hammer" type="force_feedback_from_robot.py" output="screen" unless="$(arg energy_tank)" />
    <node name="energy_base_haptics_feedback" pkg="twin_hammer" type="energy_base_haptics_feedback.py" output="screen" if="$(arg energy_tank)" />
  </group>

  <include file="$(find twin_hammer)/launch/include/mocap.launch" if="$(arg mocap_debug_mode)" /> 

</launch>